<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>{{>header}}</header>
    
    HELP page from static file(with templating) {{kossher}} comes from template

    <footer>{{>footer}}</footer>
    <script src="/web-server/public/js/script.js"></script>
</body>
</html>