<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
            
    </head>

    
    <body>
          <header>{{>header}}</header>

      <h1>from a static file(with templating) {{title}}</h1> 

        <form action="">
            <input type="text">
            <button>sumbit</button>
        </form>
        <h4 id="city-or-error"></h4>
        <p id="weather"></p>

          <footer>{{>footer}}</footer>
 
    <script src="/js/script.js"></script>
    </body>
</html>